@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inconsolata:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
  overflow: hidden;
  font-family: "GrandHaven";
  height: 100vh;
  background: linear-gradient(135deg,   #dadada, 80%, #525252);
  cursor: none !important;
  line-height: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project-body{
  overflow: hidden;
  font-family: "GrandHaven";
  height: 100vh;
  background: linear-gradient(135deg,   #F2DADF, 80%, white);
  cursor: none !important;
  line-height: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: none !important;
}

.intro{
  font-family: 'Courier New', Courier, monospace;
  line-height: 60px;
}

.intro h1{
  font-family: "Bungee";
  font-size: 48px;
  color: #fff;
  line-height: 40px;
  text-shadow: 0px -3px 0 #212121, 0px -3px 0 #212121, 0px 3px 0 #212121,
    0px 3px 0 #212121, -3px 0px 0 #212121, 3px 0px 0 #212121, -3px 0px 0 #212121,
    3px 0px 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121,
    -3px 3px 0 #212121, 3px 3px 0 #212121, -3px 6px 0 #212121, 0px 6px 0 #212121,
    3px 6px 0 #212121 !important;

}

.intro h2{
  width: 100%;
}
.link.disabled {
  pointer-events: none;
}

@font-face {
  font-family: "GrandHaven";
  src: url(https://doruksasmaz.com/home/fonts/GrandHaven_ttf.ttf) format("truetype");
}

.header > .name,
.title,
.num {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.click-me {
  z-index: 20;
  position: relative;
  text-align: right;
  font-size: 18px;
  margin: auto;
  padding: 20px 20px;
  font-family: "Bungee";

  color: #fff;

  text-shadow: 0px -3px 0 #212121, 0px -3px 0 #212121, 0px 3px 0 #212121,
    0px 3px 0 #212121, -3px 0px 0 #212121, 3px 0px 0 #212121, -3px 0px 0 #212121,
    3px 0px 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121,
    -3px 3px 0 #212121, 3px 3px 0 #212121, -3px 6px 0 #212121, 0px 6px 0 #212121,
    3px 6px 0 #212121 !important;
}


.name {
  right: 130px !important;
  font-size: clamp(30px, 5vw, 140px);
  text-align: right;
  color: white;
  position: absolute;
  right: 0;
  padding-top: clamp(20px, 4vw, 80px) !important;
  z-index: 4;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  mix-blend-mode: difference;
  
}

.description {
  font-size: clamp(12px, 1vw, 18px);
  color: #4f4f4f;
  position: relative;
  text-align: right;
  font-family: "Consolas";
  /*padding-top: 10px;*/
  text-shadow: none !important;
}

.carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.carousel-item {
  --items: 7;
  --width: clamp(240px, 20vw, 380px);
  --height: clamp(338.8px, 30vw, 520px);
  --x: calc(var(--active) * 400%);
  --y: calc(var(--active) * 100%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: clamp(45%, 50vw, 50%);
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.2);
  background: #ffffff00;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  border: 3px solid black;
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
  box-shadow: rgb(0 0 0 / 90%),
    0 0 6px rgb(0 0 0 /90%), 0 6px 3px rgb(0 0 0 / 90%),
    0 12px 6px rgb(0 0 0 / 90%), 0 18px 18px rgb(0 0 0 / 95%),
    0 24px 24px rgb(0 0 0 / 50%), 0 36px 36px rgb(0 0 0 / 45%);
  opacity: var(--opacity);
}

.description-box {
  position: absolute;
  z-index: 3;
  color: #222222;
  bottom: 30px;
  left: 130px;
  background: white;
  border: 2px black solid;
  padding: 10px 20px 10px 20px;
  max-height: 20vw;
  max-width: 40vw !important;
  border-radius: 15px;
  font-size: clamp(12px, 1vw, 24px);
  max-width: 30%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-family: "Bungee";
}

.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-family: "GrandHaven";
}

.carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
}

.carousel-item .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  text-shadow: 0px -3px 0 #212121, 0px -3px 0 #212121, 0px 3px 0 #212121,
    0px 3px 0 #212121, -3px 0px 0 #212121, 3px 0px 0 #212121, -3px 0px 0 #212121,
    3px 0px 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121,
    -3px 3px 0 #212121, 3px 3px 0 #212121, -3px 6px 0 #212121, 0px 6px 0 #212121,
    3px 6px 0 #212121 !important;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(28px, 2.5vw, 40px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-family: "Bungee";
}

.carousel-item .num {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  font-weight: 900;
  z-index: 1;
  color: #fff;
  top: 10px;
  text-shadow: 0px -3px 0 #212121, 0px -3px 0 #212121, 0px 3px 0 #212121,
    0px 3px 0 #212121, -3px 0px 0 #212121, 3px 0px 0 #212121, -3px 0px 0 #212121,
    3px 0px 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121,
    -3px 3px 0 #212121, 3px 3px 0 #212121, -3px 6px 0 #212121, 0px 6px 0 #212121,
    3px 6px 0 #212121 !important;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(40px, 5vw, 80px) !important;
}

.carousel-item img,
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.carousel-item .small-img{
    width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: fill;
  pointer-events: none;
}


.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}

.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: black;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-family: "GrandHaven";
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.image-logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GrandHaven";
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  opacity: 1;
}

.social a {
  display: inline-block;
  margin-left: 3px;
}

.social svg {
  width: 70px;
  height: 70px;
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 80px;
  margin-left: -40px;
  margin-top: -40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffcd84;
  transition-property: transform, scale, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  scale: 0.3;
  z-index: 10000;
}

.custom-cursor--link {
  scale: 1;
}

.custom-cursor--init {
  opacity: 1;
}

.mobile-image {
  display: none;
  /* Hide the image by default */
}

.desktop-video {
  display: block;
  /* Show the video by default */
}

@media screen and (max-width: 1000px) {
  .description-box {
    display: none !important;
  }



  .name {
    left: 30px;
    text-align: left;
    font-size: clamp(35px, 8vw, 130px);
    position: absolute;
    margin-left: auto;
    padding-top: 28px !important;
    z-index: 4;
  }

  .description {
    font-size: clamp(8px, 2vw, 18px);
    position: relative;
    text-align: left;
    padding-top: 8px;
    text-shadow: none !important;
  }
}



/* SOCIAL ICONS */

.mf-social-side-list {
  position: fixed;
  top: 30vh;
  left: 20px;
  z-index: 10;
}
.mf-social-side-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
 padding: 0;
 margin:0
}
.mf-social-side-list ul li a {
  color: #ffffff;
  border-radius: 50%;
  width: 35px;
  font-size: 26px;
  padding: .5em;
  height: 35px;
  line-height: 35px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.mf-social-side-list ul li a:hover {
  opacity: .9;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.mf-social-side-list ul li a[href*='facebook'] {
  background: black;
}
.mf-social-side-list ul li a[href*='instagram'] {
  background: black;
}
.mf-social-side-list ul li a[href*='figma'] {
  background: black;
}
.mf-social-side-list ul li a[href*='linkedin'] {
  background: black;
}
.mf-social-side-list ul li a[href*='codepen'] {
  background: black;
}


.main-btn-rect,
.main-btn-circle{
	position: relative;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #FFFFF0;
	background-color: rgb(252, 79, 79);
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 1px;	
	outline: none;
	cursor: pointer;
	z-index: 100;
}
.main-btn-rect {
	padding: 10px 80px;
	line-height: 30px;
}
.main-btn-rect:before, 
.main-btn-rect:after{
  position: absolute;
  content: '';
  top:0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 240, 0.2);
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.main-btn-rect:before {
  left: 0;
}
.main-btn-rect:after {
  right: 0;
}
.main-btn-rect:hover:before, 
.main-btn-rect:hover:after{
  width: 50%;
}
.main-btn-circle{
	height: 40px;
	width: 40px;
	-webkit-border-radius: 50%;
	border-radius: 100%;
	line-height: 40px;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.main-btn-circle:hover{   
  -webkit-box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
  -moz-box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
  box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
}
.popup{
  position: fixed;
	top: 100%;
  width: 100%;
  height: 100%;
  z-index: 10001;
}
.popup.active{
  top:0;
  background-color: rgba(3, 3, 3, 0.98); 
  transition: background-color .6s ,opacity .6s;
}
.popup .main-btn-rect{
  padding: 10px 100px;
}
.popup .popup-content{
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 568px;
  min-width: 320px;
  margin-top: 150px;
  padding: 25px;
  background-color: #FFFFF0;
  color: #070000;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transition: margin .6s;
  -webkit-transition: margin .6s;
  -moz-transition: margin .6s;
  -o-transition: margin .6s;
}
.popup.active .popup-content{
  margin-top: 0px;
}
.popup-content h6{
  display: table;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 100;  
}
.form-group{
	position: relative;
	width: 90%;
	margin: 0px auto;
}
form#send input, form#send textarea{
	position: relative;
	margin-bottom: 32px;
	width: 100%;
	height: 29px;
	font-family: 'RobotoLight', sans-serif;
	text-indent: 20px;
  background-color: transparent;
	outline: 0;
	border: none;
	border-bottom: 1px solid #070000;
	-webkit-transition: border 0.6s;
	-o-transition: border 0.6s;
	transition: border 0.6s;
}
form#send input:focus,
form#send textarea:focus{
	border-bottom: 1px solid rgb(63, 173, 168); 
}
form#send label{
	position: absolute;
	top: 0;
	line-height: 28px;
	-webkit-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
form#send input:focus + label,
form#send textarea:focus + label{
  color: rgb(63, 173, 168);
}
form#send .txt{
	line-height: 22px;
	left: 2px;
}

.event-header h6{
  font-family: "Bungee";

  color: #fff;

  text-shadow: 0px -3px 0 #212121, 0px -3px 0 #212121, 0px 3px 0 #212121,
    0px 3px 0 #212121, -3px 0px 0 #212121, 3px 0px 0 #212121, -3px 0px 0 #212121,
    3px 0px 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121,
    -3px 3px 0 #212121, 3px 3px 0 #212121, -3px 6px 0 #212121, 0px 6px 0 #212121,
    3px 6px 0 #212121 !important;
}
form#send .main-btn-rect {
	position: relative;
	display: block;
	padding: 12px 80px;
	margin: 0px auto;
	font-size: 14px;
}
form#send .main-btn-rect i {
	margin-right: 5px;
}
.popup .fade-out{
  position: absolute;
  top: -20px;
  right: -20px;
  text-align: center;
  font-size: 15px;
}
.share-wrap{
	position: absolute;
  display: inline-table;
	top: 67%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 15px;
  text-align: center;
}
.share-btn{
  color: #FFFFF0;
  padding: 7px 25px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 14px;
  font-family:'Lobster', sans-serif;
  background-color: rgba(63, 173, 168, .8);
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
}
.share-btn:hover{
  color: #FFFFF0;
  text-decoration: none;
  background-color: rgba(63, 173, 168, 1.0);
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}
.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 2px;
}
.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 6px 9px;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
}
.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}
.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}
.resp-sharing-button__icon,
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}
.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}
@media only screen and (max-width: 768px){
  h1 {font-size: 25px;}
  h2 {font-size: 14px;}
  form#send .main-btn-rect {padding: 7px 60px; font-size: 14px;}
  .popup-btn{padding: 7px 60px; font-size: 14px;}
}

@media screen and (max-width: 800px) {
  .mobile-image {
    display: block;
    /* Show the image */
  }

  .desktop-video {
    display: none;
    /* Hide the video */
  }

  .custom-cursor {
    display: none !important;
  }

  .body {
    cursor: auto !important;
  }

  .header > .name,
  .title,
  .num {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .description-box {
    display: none !important;
  }

  /* LAYOUT */

  .layout {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .layout .box {
    position: absolute;
    bottom: 0;
    left: 12px;
    color: #ffcd84;
    transform-origin: 0% 10%;
    transform: rotate(-90deg);
    font-family: "Bungee";
    font-size: 8px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: 0.4;
  }

  .layout:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50px;
    width: 10px;
    height: 100%;
    border: 1px solid #ffcd84;
    border-top: none;
    border-bottom: none;
    opacity: 0.15;
  }

  .carousel-item .num {
    padding: 0;
   }

   .mf-social-side-list ul li a {
      font-size: 16px;
      padding: 0;

   }

   .mf-social-side-list {
      left: 10px;
      top: 40%;
   }
}

